bin
platform/android/.gradle
platform/android/local.properties
platform/android/build
platform/android/app/build
platform/android/malgoplay-aar/build
platform/android/malgoplay-aar/*.aar
platform/android/malgoplay-aar/*.jar
platform/android/app/.gradle